#wrapper{
	width:300px;
	height:400px;
}
textarea{
	width:100%;
	height:360px;
	background:skyblue;
	color:#ffffff;
	font-weight:bold;
	font-size:14pt;
}
input{
	width:100%;
	height:40px;
	background:#ffffff;
	border:2px solid blue;
	font-size:13pt;
}
body{
	margin:0;
}